<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277457472198-j3pl6ar8mgskd9vli9l9qdng3896akrl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277457472198-j3pl6ar8mgskd9vli9l9qdng3896akrl</string>
	<key>API_KEY</key>
	<string>AIzaSyAitapoU3V29jpLBsJZ24L52H_FDqS8WZo</string>
	<key>GCM_SENDER_ID</key>
	<string>277457472198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-af887</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-af887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277457472198:ios:de207c3d8863e9abaea5c7</string>
</dict>
</plist>